.side-bar{
  display: flex;
	justify-content: flex-start;
  border-left: 1px solid black;
  height: 100vh;
  background-color: #dac9af;
  flex-direction: column;
}

.element-list{
  padding-top: 10px;
  padding-left: 10px;
  height: 90vh;
}

.dnd-list{
  overflow-y: auto;
  height: inherit;
}

.element-wrapper{
  padding: 5px 5px;
  cursor: grab;
}

h1 {
    padding-left: 10px;
    text-align: center;
}

.title {
  border-bottom: 1px solid black;
}

.cdk-drop-list-dragging {
  cursor: grabbing !important;
}
